header, section, footer, aside, nav, main, article, figure {
     box-sizing: border-box;
}

html{
	display: block;
}

body{
	background-color: /*#4682B4;*/#374258;
	margin:0;
	box-sizing: border-box;
	
}

div{
	
}

.main-page{
	margin: 12px 12px;
	height: auto;
	box-sizing: border-box;
	
}

.left-main-container{
	height: 100%;
	width:38%;
	background-color: /*#DFE3EE;*/ #f3f3f3;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 2, 0.50); /*proucit*/
	padding: 0px 10px;
	box-sizing: border-box;
	margin-bottom: 20px;
	float:left;
}

.middle-main-container{
	height: auto;
	width:62%;
	box-sizing: border-box;
	float:left;
	/*margin-left:25px;*/
	margin-bottom:15px;
	padding-left:25px;
}

.middle-education-container{
	background-color: /*#DFE3EE;*/ #f3f3f3;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 2, 0.50); /*proucit*/
	padding: 0px 10px;
	box-sizing: border-box;
	overflow: auto;
	margin-bottom: 30px;

}

.middle-work-container{
	background-color: /*#DFE3EE;*/ #f3f3f3;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 2, 0.50); /*proucit*/
	padding: 0px 10px;
	box-sizing: border-box;
	overflow: auto;

}

.copyright-footer{
	height: auto;
	width: 100%;
	background-color: /*#DFE3EE;*/ #f74462;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 2, 0.50); /*proucit*/
	padding: 0px 10px;
	margin-top:10px;
	margin: auto;
	box-sizing: border-box;
	overflow: auto;
	text-align:right;
}


.left-main-container-photo{
	background-color: /*#DFE3EE;*/ #f3f3f3;
	width: auto;
	height: auto;
	box-sizing: border-box;

	

}

.left-container-skills-info-and-skills{
	font-family: Palatino Linotype;
	padding: 5px 5px;
	margin: 0px;
	font-size: 20px;
	box-sizing: border-box;
	overflow: auto;
	display: flex;
	align-items: center;
	position:left;
	
}


.name{
	padding:5px 20px;
	text-align: center;
	font-size: 14px;
	box-sizing: border-box;
}

h1{
	font-family: Palatino Linotype;
	box-sizing: border-box;
	text-align:center;
	font-size:30px;
}

h2{
	font-family: Palatino Linotype;
	box-sizing: border-box;
	padding-bottom: 10px;
	font-size: 25px;
}

h3{
	font-family: Palatino Linotype;
	box-sizing: border-box;
	padding-bottom: 10px;
	font-size: 20px;
	
}

.material-icons{
	padding-left:5px;
	margin-right:20px;
	box-sizing: border-box;
}

.progress-bar-outside{
	height: 20%;
	background-color: #92B6D5;
	border-radius: 16px;
	margin-left: 5px;
	
}

.progress-bar-inside{
	height: 20%;
	background-color: #223A5E;
	border-radius: 16px;
	box-sizing: border-box;
	
}

.skills{
	font-size:16px; 
	padding-left:50px; 
	align-items:center;
	
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
	.left-main-container{
		width:100%;
	}
    /*.middle-education-container{
        width: 100%;
		padding-left:0px;
	}
	.middle-work-container{
		width: 100%;
		padding-left:0px;
	}*/
	
	.middle-main-container{
		width: 100%;
		padding-left:0px;
	}
}


